div.bubble {
    border: 1px solid var(--text-color1);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    display: inline-block;
    margin: 10px;
}

@media only screen and (max-width: 810px) {
    div.bubble {
        max-width: 95%;
    }
}